body
{
	font-family: "proxima-nova", "Proxima Nova", sans-serif;
	min-width: 320px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6
{
	font-family: "ff-tisa-web-pro", "FF Tisa Pro", serif;
}

/* hover off */
a
{
	transition: all 0.4s linear;
}

/* hover on */
a:hover
{
	transition: all 0.2s linear;
}

.btn
{
	text-transform: uppercase;
	font-size: 13px;
	min-width: 187px;
	text-align: center;
	border: 0;
	letter-spacing: 1px;
	overflow: hidden;
	font-weight: 700;
	padding: 11px 7px 10px;
	max-width: 100%;
}

code
{
	white-space: inherit;
}

label
{
	vertical-align: top;
}

td,
th
{
	border: 1px solid #ccc;
}

#header
{
	position: relative;
	z-index: 1;
}

#header > .holder
{
	width: auto;
	max-width: 1300px;
	padding: 16px 43px 0 47px;
}

.home #header > .holder
{
	padding: 19px 39px 0 47px;
}

.logo
{
	float: left;
	background: url(images/logo.png) no-repeat;
	width: 363px;
	height: 63px;
	overflow: hidden;
	text-indent: -9999px;
}

.logo a
{
	display: block;
	height: 100%;
}

#header .search
{
	float: right;
}

#header .search > a
{
	background: url(images/ico-search.png) no-repeat 50% 50% #f2f2f2;
	width: 40px;
	height: 33px;
	text-indent: -9999px;
	display: block;
	position: relative;
	border-radius: 5px;
	z-index: 5;
}

#header .search.active > a:after,
#header .navbar-default .navbar-nav > li > a:after
{
	bottom: -30px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #f2f2f2;
	border-width: 14px;
	margin-left: -14px;
}

#header .search.active .search-content
{
	display: block;
}

#header .search .search-content
{
	position: absolute;
	left: 0;
	top: 100%;
	background: #f2f2f2;
	width: 100%;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.31);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.31);
	display: none;
}

#header .search .search-content > .frame
{
	max-width: 1300px;
	margin: 0 auto;
	padding: 27px 122px 36px;
	overflow: hidden;
}

#header .search .search-content .form-control
{
	background: none;
	border: 0;
	border-left: 3px solid #509ecc;
	height: 38px;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 6px 20px 4px;
	width: 100%;
	color: #b7b7b7;
	font-size: 24px;
	line-height: 27px;
	border-radius: 0;
}

#header .search .search-content .form-control::-webkit-input-placeholder
{
	color: #b7b7b7;
}

#header .search .search-content .form-control:-moz-placeholder
{
	color: #b7b7b7;
}

#header .search .search-content .form-control::-moz-placeholder
{
	color: #b7b7b7;
}

#header .search .search-content .form-control:-ms-input-placeholder
{
	color: #b7b7b7;
}

#header .navbar-default
{
	float: right;
	max-width: 800px;
	border: 0;
	padding: 18px 0 0;
	position: static;
	text-transform: uppercase;
	color: #0f3644;
	letter-spacing: 1px;
}

#header .navbar-default .navbar-nav
{
	line-height: 15px;
	font-size: 12px;
	font-weight: 700;
}

#header .navbar-default .navbar-nav > li
{
	margin: 0 18px 30px 4px;
	position: static;
}

#header .navbar-default .navbar-nav > li > a:after
{
	display: none;
}

#header .navbar-default .navbar-nav > li > a
{
	padding: 9px 17px;
	line-height: 15px;
}

#header .navbar-default .navbar-nav > li:hover,
#header .navbar-default .navbar-nav > li.active,
#header .navbar-default .navbar-nav > li.open
{
	margin-bottom: 0;
	padding-bottom: 30px;
}

#header .navbar-default .navbar-nav > li:hover > a,
#header .navbar-default .navbar-nav > li.active > a,
#header .navbar-default .navbar-nav > li.open > a
{
	background: #f2f2f2;
	border-radius: 5px;
}

#header .navbar-default .navbar-nav > li:hover > a:after,
#header .navbar-default .navbar-nav > li.active > a:after,
#header .navbar-default .navbar-nav > li.open > a:after
{
	bottom: -30px;
	display: block;
}

#header .navbar-default .dropdown-menu
{
	background: #f2f2f2;
	position: absolute;
	left: 0;
	top: 100%;
	border: 0;
	border-radius: 0;
	width: 100%;
	text-transform: none;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.31);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.31);
}

#header .navbar-default .dropdown-menu > .frame
{
	max-width: 1300px;
	margin: 0 auto;
	padding: 44px 78px 33px 139px;
	overflow: hidden;
}

#header .navbar-default .dropdown-menu .textbox
{
	float: left;
	width: 322px;
	color: #0b3543;
	line-height: 24px;
	letter-spacing: normal;
	font-weight: 400;
}

#header .navbar-default .dropdown-menu .textbox h1
{
	text-transform: capitalize;
	letter-spacing: -1px;
	color: #0b3543;
	margin: 0 0 25px;
	font: 39px/42px Georgia, "Times New Roman", Times, serif;
}

#header .navbar-default .dropdown-menu .links-area
{
	float: right;
	width: 644px;
}

header .navbar-default .dropdown-menu .links-area ul
{
	margin: 0;
	list-style: none;
	padding: 15px 20px 0 0;
	float: left;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0;
	width: 322px;
	line-height: 24px;
}

header .navbar-default .dropdown-menu .links-area ul li
{
	overflow: hidden;
	padding: 0 0 24px;
}

header .navbar-default .dropdown-menu .links-area ul li a
{
	color: #4d96c4;
}

.intro
{
	overflow: hidden;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
	width: auto;
}

.intro .col
{
	float: right;
	width: 50%;
	background: #0d586e;
	text-align: center;
}

.intro .col:first-child
{
	float: left;
	background: #509ecc;
}

.intro .img-responsive
{
	width: 100%;
}

.intro .textbox
{
	overflow: hidden;
	padding: 32px 70px 110px;
	position: relative;
	color: #f5f5f5;
	font-size: 19px;
	line-height: 24px;
}

.intro h1
{
	color: #fff;
	font-size: 29px;
	line-height: 40px;
	margin: 0 0 15px;
}

.intro p
{
	margin: 0 0 10px;
}

.intro .btn-holder
{
	position: absolute;
	left: 0;
	bottom: 37px;
	width: 100%;
	padding: 0 10px;
	text-align: center;
}

.features
{
	line-height: 18px;
	text-align: center;
	color: #0f3644;
	padding-top: 49px;
	padding-bottom: 62px;
}

.features h1
{
	color: #0f3644;
	font-size: 29px;
	line-height: 39px;
	margin: 0 0 20px;
}

.features h1:after
{
	background: #d4d4d4;
	height: 1px;
	overflow: hidden;
	text-indent: -9999px;
	width: 60.5%;
	margin: 38px auto 0;
	content: "";
	display: block;
}

.features .img-area
{
	overflow: hidden;
	height: 170px;
	margin: 0 0 19px;
}

.features .img-area img
{
	display: block;
	margin: 0 auto;
}

.features h2
{
	color: #374853;
	margin: 0 0 19px;
	text-transform: capitalize;
}

.features p
{
	margin: 0 0 10px;
}

.features .box
{
	padding-bottom: 40px;
	padding-top: 46px;
	position: relative;
}

.features .btn
{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -93px;
	width: 188px;
}

.features .textbox
{
	overflow: hidden;
	padding: 0 50px 10px;
}

.carousel
{
	border-top: 5px solid #98a63a;
}

.carousel .caption-holder
{
	max-width: 620px;
	margin: 0 auto;
}

.carousel .carousel-indicators
{
	margin: 0;
	right: 44px;
	max-width: 500px;
	width: auto;
	left: auto;
	bottom: 55px;
	text-align: right;
}

.carousel-indicators li
{
	margin: 0 0 0 19px;
	padding: 0;
	width: 11px;
	height: 11px;
}

.carousel-indicators .active
{
	margin: 0 0 0 18px;
}

.carousel-control
{
	left: 40px;
	bottom: auto;
	top: 50%;
	width: 52px;
	margin: -26px 0 0;
	height: 52px;
	overflow: hidden;
	text-indent: -9999px;
}

.carousel-control.right
{
	right: 40px;
	filter: none;
	background: url(images/sprite.png) no-repeat -87px -134px;
}

.carousel-control.right:hover
{
	background-position: -23px -74px;
}

.carousel-control.left
{
	background: url(images/sprite.png) no-repeat -87px -74px;
	filter: none;
}

.carousel-control.left:hover
{
	background-position: -23px -134px;
}

.carousel .carousel-caption
{
	font-size: 16px;
	line-height: 1.5;
	bottom: auto;
	top: 46px;
}

.carousel .carousel-caption .subhead
{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 4px;
	display: block;
	margin: 0 0 58px;
}

.carousel .carousel-caption .header
{
	overflow: hidden;
	padding: 0 0 18px;
}

.carousel .carousel-caption .header:after
{
	background: #fff;
	margin: 28px auto 0;
	width: 100px;
	height: 1px;
	overflow: hidden;
	text-indent: -9999px;
	content: "";
	display: block;
}

.carousel .carousel-caption .date
{
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	line-height: 13px;
	margin: 0 0 9px;
}

.carousel .carousel-caption h1
{
	margin: 0;
	text-transform: capitalize;
}

.carousel-caption .btn
{
	padding-bottom: 9px;
}

.carousel-inner
{
	max-height: 523px;
}

.carousel-inner img
{
	min-height: 523px;
}

.carousel-inner > .item
{
	float: left;
	width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
	width: 100%;
}

.carousel .carousel-caption p
{
	margin: 0 0 63px;
}

.carousel .carousel-caption .btn-primary
{
	margin: 0 0 22px;
}

.carousel .carousel-caption .note
{
	display: block;
}

.carousel .carousel-caption .note a
{
	text-decoration: underline;
	color: #fff;
}

.carousel .carousel-caption .note a:hover
{
	text-decoration: none;
}

.news
{
	background: url(images/bg-news.png) no-repeat 100% 100% #f2f5f8;
	overflow: hidden;
	padding: 62px 0 64px;
	color: #19414e;
}

.news h3
{
	text-align: center;
	color: #444;
	text-transform: uppercase;
	margin: 0 0 27px;
	letter-spacing: 3px;
	font: 700 12px/16px Arial, helvetica, sans-serif;
}

.news .post
{
	padding-bottom: 22px;
	padding-top: 22px;
}

.news .post .header
{
	overflow: hidden;
	padding: 0 0 13px;
}

.news .post .date
{
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	line-height: 13px;
	color: #6da4cb;
	margin: 0 0 16px;
}

.news .post h3
{
	font: 30px/36px Georgia, "Times New Roman", Times, serif;
	text-align: left;
	text-transform: none;
	letter-spacing: normal;
	margin: 0 0 10px;
}

.news .post h3 a
{
	color: #555;
}

.news .post h3 a:hover
{
	color: #222;
	text-decoration: none;
}

.news .post p
{
	margin: 0 0 29px;
}

.news .btn
{
	padding-bottom: 9px;
}

.social-area
{
	overflow: hidden;
	background: #4979b5;
	color: #f2f5f8;
	font-size: 18px;
	padding: 42px 0 13px;
	text-align: center;
	line-height: 1.333;
}

.social-area > .container
{
	position: relative;
	max-width: 1300px;
	width: auto;
	padding: 0 170px;
}

.social-area a
{
	color: #f2f5f8;
}

.social-area .title
{
	display: block;
	letter-spacing: 3px;
	font-size: 12px;
	margin: 0 0 11px;
	text-transform: uppercase;
}

.social-area .tweets
{
	margin: 0;
	padding: 18px 0 10px;
	list-style: none;
}

.social-area .tweets li
{
	overflow: hidden;
	letter-spacing: 1px;
}

.social-area .tweets .btn-area
{
	max-width: 300px;
	margin: 0 auto;
}

.social-area .tweets li p
{
	margin: 0 0 47px;
}

.social-area .tweets .btn-tweets
{
	background: #365a87;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 19px;
	padding: 12px 8px 11px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0;
	margin: 0 0 9px;
}

.social-area .tweets .btn-tweets:hover
{
	background: #1D3454;
}

.social-area .tweets .btn-like
{
	font-size: 10px;
	line-height: 13px;
	display: block;
	vertical-align: top;
	text-transform: uppercase;
}

.social-area .social-networks
{
	position: absolute;
	right: 79px;
	bottom: 16px;
	margin: 0;
	max-width: 320px;
	padding: 0;
	list-style: none;
}

.social-area .social-networks li
{
	float: left;
	margin: 0 0 0 20px;
}

.social-area .social-networks li a,
.social-area .tweets .btn-like a,
.social-networks-list a,
#header .navbar-default .social-networks li a
{
	color: #ddd;
	opacity: 0.6;
}

.social-area .social-networks li a:hover,
.social-area .tweets .btn-like a:hover,
.social-networks-list a:hover,
#header .navbar-default .social-networks li a:hover
{
	color: #fff;
	opacity: 1;
	text-decoration: none;
}

.social-networks-list a,
.social-area .social-networks li a
{
	text-align: left;
	float: left;
	font-size: 24px;
}

.social-networks-list
{
	margin: 0;
	padding: 0;
	list-style: none outside none;
	overflow: hidden;
}

.social-networks-list li
{
	list-style: none outside none;
	margin: 0 20px;
	float: left;
}

#footer
{
	background: #0f191c;
	overflow: hidden;
	padding: 61px 0 45px;
	color: #849fae;
	font-size: 12px;
	line-height: 2;
}

.home #footer
{
	padding: 62px 0 49px;
}

#footer a,
#footer address .phone,
#footer .info .link
{
	color: #4d96c4;
}

#footer a:hover,
#footer address .phone:hover,
#footer .info .link:hover
{
	color: #1EB3FA;
	text-decoration: none;
}

#footer address
{
	font-size: 14px;
	line-height: 30px;
}

#footer h4
{
	margin: 0 0 13px;
	color: #e7ebec;
}

#footer .address h4
{
	margin: 0 0 6px;
}

.fnav ul
{
	margin: 0;
	list-style: none;
	padding: 0;
	font-size: 14px;
	line-height: 17px;
}

.fnav ul li
{
	overflow: hidden;
	padding: 0 0 13px;
}

#footer .logo
{
	background-position: 0 -81px;
	width: 182px;
	float: left;
	height: 37px;
	margin: 5px 0 0 0;
}

.home #footer .logo
{
	margin: 6px 0 0 2px;
}

#footer .info
{
	line-height: 20px;
	padding-top: 23px;
}

.home #footer .info
{
	padding-top: 24px;
}

#footer .info p
{
	margin: 0 0 4px;
}

#footer .info p a
{
	color: #849fae;
}

#footer .info .link
{
	margin: 0 12px 0 0;
}

.post-section
{
	overflow: hidden;
	position: relative;
	color: #a9a9a9;
	padding: 39px 0 57px;
	background: #f2f5f8;
}

.post-section.add
{
	background: none;
	color: #fff;
	padding: 0;
	height: 353px;
}

.post-section .img-holder
{
	overflow: hidden;
	height: 353px;
}

.post-section .img-holder img
{
	display: block;
}

.post-section .holder
{
	margin: -353px 0 0;
	max-height: 320px;
	padding: 40px 0 20px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.post-section .title
{
	display: block;
	font-size: 18px;
	line-height: 24px;
	margin: 0 -1px 12px;
	font-weight: 400;
	text-transform: capitalize;
}

.post-section.add .title
{
	margin-bottom: 36px;
}

.post-section .post
{
	margin: 0 -2px;
	padding-top: 9px;
}

.post-section .post .post-holder
{
	max-height: 220px;
	overflow: hidden;
}

.post-section.add .post
{
	padding-top: 0;
}

.post-section .post h1
{
	font-size: 29px;
	line-height: 39px;
	margin: 0 0 35px;
	letter-spacing: 1px;
}

.post-section .post h3
{
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 20px;
	letter-spacing: 1px;
}

.post-section .post h3 a
{
	color: #3f3f3f;
}

.post-section .post h1 a
{
	color: #fff;
}

.post-section .post .meta
{
	overflow: hidden;
	padding: 15px 0 0;
	margin: 0 0 0 -2px;
}

.post-section.add .post .meta
{
	padding: 0;
}

.post-section .post .meta .img-area
{
	float: left;
	width: 60px;
	margin: 0 15px 0 0;
	border-radius: 100%;
	height: 60px;
}

.post-section .post .meta .img-area .img-rounded
{
	border-radius: 100%;
	width: 100%;
	display: block;
}

.post-section .post .textbox
{
	overflow: hidden;
	padding: 8px 0 0;
}

.post-section.add .post .textbox
{
	padding: 5px 0 0;
}

.post-section .post .author
{
	display: block;
	font: 18px/24px Georgia, "Times New Roman", Times, serif;
	margin: 0 0 11px;
}

.post-section .post .author a
{
	color: #fff;
}

.post-section .post .info
{
	overflow: hidden;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #bcbcbc;
	text-transform: uppercase;
}

.post-section .post .info .date
{
	float: left;
	margin: 0 18px 0 2px;
}

.post-section .post .tags,
.post-section .post .tags a
{
	color: #509ecc;
}

.post-section.add .post .tags,
.post-section.add .tags a
{
	color: #fff;
}

.post-section .post h1 a,
.post-section .post .author a
{
	color: #3f3f3f;
}

.post-section.add .post h1 a,
.post-section.add .post .author a
{
	color: #fff;
}

.post-section .header
{
	position: relative;
	overflow: hidden;
	padding: 0 65px 0 0;
}

.post-section .more
{
	background: url(images/ico-more.png) no-repeat;
	width: 39px;
	height: 39px;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	right: 18px;
	top: 5px;
}

#twocolumns
{
	padding-top: 30px;
	padding-bottom: 50px;
}

#content
{
	padding-top: 25px;
}

#content p
{
	margin: 0 0 25px;
}

#content .textbox p
{
	margin: 0 0 24px;
}

#sidebar
{
	padding-top: 13px;
}

#content .article
{
	overflow: hidden;
}

#content .article .textbox
{
	overflow: hidden;
}

#content .article .textbox:after
{
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
	text-indent: -9999px;
	height: 1px;
	content: "";
	display: block;
	padding: 29px 0 0;
}

#content .article .center-block
{
	margin-top: 31px;
	margin-bottom: 30px;
	display: block;
}

#sidebar .archive
{
	overflow: hidden;
	padding: 0 0 28px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
}

#sidebar .archive h2
{
	text-transform: capitalize;
	margin: 0 0 18px;
	font: 18px/24px Arial, Helvetica, sans-serif;
}

#sidebar .archive .nav-pills > li
{
	float: none;
}

#sidebar .archive .nav-pills li a
{
	background: #509ecc;
	border-radius: 3px;
	color: #fff;
	padding: 15px 14px 11px;
	text-transform: uppercase;
	position: relative;
}

#sidebar .archive .nav-pills li a:after
{
	top: 21px;
	right: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 4px;
	margin-left: -4px;
}

#sidebar .post-list
{
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
}

#sidebar .post-list ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar .post-list ul li
{
	overflow: hidden;
	padding: 0 0 34px;
}

#sidebar .post-list ul li:first-child
{
	padding: 0 0 26px;
}

#sidebar .post-list ul li a
{
	color: #509ecc;
}

#main .social-holder
{
	background: #da4936;
	padding: 28px 0;
}

#main .social-holder:after
{
	display: block;
	content: "";
	clear: both;
}

#main .social-holder .title
{
	float: left;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
	color: #fff;
	min-width: 159px;
	margin: 3px 20px 0 0;
}

#main .social-holder .title
{
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin: 0 10px 0 0;
}

.social-networks-list
{
	display: inline-block;
	vertical-align: middle;
}

#main .social-holder .social-networks
{
	position: relative;
	overflow: hidden;
	background: none;
	padding: 0 !important;
	width: auto !important;
	border-radius: none !important;
}

#main .social-holder .social-networks a:first-child
{
	margin: 0 35px 0 0;
}

#main .social-holder .social-networks a
{
	margin: 0 41px 0 0;
}

.newsletter
{
	background: #0f3644;
	overflow: hidden;
	padding: 29px 0 30px;
}

.newsletter .title
{
	color: #f2f5f8;
	width: 385px;
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 27px;
	font-weight: 400;
	margin: 4px 10px 0 0;
}

.newsletter .form-area
{
	display: inline-block;
	vertical-align: middle;
	width: 500px;
}

.newsletter .form-area .form-control
{
	float: left;
	width: 331px;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 43px;
	border: 0;
	border-top: 1px solid #bfc9cd;
	border-bottom: 1px solid #8fa1a8;
	padding: 11px 20px;
	margin: 0 11px 0 0;
	line-height: 17px;
}

.newsletter .form-area .btn-default
{
	height: 43px;
	width: 115px;
	min-width: inherit;
}

.visible-desktops
{
	display: block;
}

.visible-tablets
{
	display: none;
}

@media (min-width: 960px) and (max-width: 1199px)
{
	#header > .holder
	{
		padding: 19px 20px 0;
	}

	#header .navbar-default .navbar-nav > li
	{
		font-size: 11px;
	}

	#header .navbar-default .navbar-nav > li > a
	{
		padding: 7px 5px;
	}

	#header .navbar-default .navbar-nav > li
	{
		margin: 2px 0 30px 0;
	}

	#header .navbar-default .addnav
	{
		display: none;
	}

	#header .navbar-default .social-networks
	{
		display: none;
	}

	#header .navbar-default .dropdown-menu .textbox
	{
		width: 34%;
		padding-left: 10%;
	}

	#header .navbar-default .dropdown-menu .links-area
	{
		width: 600px;
	}

	header .navbar-default .dropdown-menu .links-area ul
	{
		width: 300px;
	}

	#header .navbar-default .dropdown-menu > .frame
	{
		padding: 44px 20px 33px;
	}

	.social-area > .container
	{
		max-width: inherit;
		width: 960px;
		padding: 0 10px;
	}
}

@media (max-width: 959px)
{
	#main
	{
		overflow: hidden;
	}

	.visible-desktops
	{
		display: none;
	}

	.visible-tablets
	{
		display: block;
	}

	.logo,
	 .home .logo
	{
		background: url(images/logo-768.png) no-repeat;
		width: 214px;
		height: 37px;
		margin: 0 0 0 20px;
	}

	#header .search
	{
		display: none;
	}

	#header > .holder,
	 .home #header > .holder
	{
		width: inherit;
		padding: 18px 0 0;
	}

	#header .navbar-default
	{
		padding: 0;
		max-width: inherit;
		min-height: inherit;
	}

	.navbar-collapse.collapse
	{
		display: none !important;
		height: 0 !important;
		overflow: hidden !important;
		padding-bottom: 0;
		border: 0;
	}

	.navbar-collapse.in
	{
		overflow: visible !important;
		overflow-y: auto;
		height: auto !important;
		display: block !important;
	}

	#header .nav-area
	{
		width: 100%;
		background: url(images/bg-menu.jpg) no-repeat 0 100% #0b3543;
		clear: both;
		min-height: inherit;
	}

	#header .navbar-default
	{
		clear: both;
		width: 100%;
	}

	#header .navbar-default .navbar-header
	{
		width: 100%;
		float: none;
	}

	#header .navbar-default .navbar-toggle
	{
		display: block;
		background: none;
		border: 0;
		border-radius: 0;
		margin: -26px 20px 27px;
		width: 27px;
		padding: 0;
	}

	#header .navbar-default .navbar-toggle .icon-bar
	{
		background: #0b3543;
		height: 3px;
		width: 27px;
	}

	.navbar-collapse
	{
		background: url(images/bg-menu.jpg) no-repeat 100% 100% #0b3543;
		padding: 0 23px;
		font-size: 14px;
		line-height: 17px;
		font-weight: 400;
	}

	#header .navbar-default .navbar-nav
	{
		width: auto;
		float: none;
		padding: 34px 0 38px;
		font-size: 14px;
		line-height: 17px;
		font-weight: 400;
		letter-spacing: 1px;
	}

	#header .navbar-default .navbar-nav > li
	{
		float: none;
		overflow: hidden;
		margin: 0 0 25px;
	}

	#header .navbar-default .navbar-nav > li a
	{
		color: #f8fbfd;
		float: left;
		padding: 0;
	}

	#header .navbar-default .navbar-nav > li:hover,
	 #header .navbar-default .navbar-nav > li.open
	{
		padding: 0;
		margin: 0 0 25px;
	}

	#header .navbar-default .navbar-nav > li a:hover
	{
		text-decoration: underline;
	}

	#header .navbar-default .navbar-nav > li:hover a,
	 #header .navbar-default .navbar-nav > li.active a,
	 #header .navbar-default .navbar-nav > li.open a
	{
		background: none;
		border-radius: 0;
	}

	#header .navbar-default .navbar-nav > li.active a
	{
		font-weight: 700;
	}

	#header .navbar-default .navbar-nav > li.active a:after,
	 #header .navbar-default .navbar-nav > li:hover a:after,
	 #header .navbar-default .navbar-nav > li.open a:after
	{
		display: none;
	}

	#header .navbar-default .addnav
	{
		text-transform: capitalize;
		margin: 0;
		padding: 0 0 48px;
		list-style: none;
	}

	#header .navbar-default .addnav li
	{
		margin: 0 0 23px;
	}

	#header .navbar-default .addnav li a
	{
		color: #f8fbfd;
	}

	#header .navbar-default .social-networks
	{
		overflow: hidden;
		padding: 0;
		margin: 0 0 20px;
		list-style: none;
	}

	#header .navbar-default .social-networks li
	{
		float: left;
		margin: 0 13px 0 6px;
		font-size: 22px;
	}

	.intro .img-area
	{
		margin: 0 -100px;
		overflow: hidden;
	}

	.intro .col
	{
		overflow: hidden;
	}

	.intro h1
	{
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 17px;
	}

	.intro .textbox
	{
		padding: 32px 25px 91px 25px;
		font-size: 14px;
	}

	.intro .btn-holder
	{
		bottom: 34px;
	}

	.intro p br,
	 .intro h1 br
	{
		display: none;
	}

	.features
	{
		padding-top: 41px;
		padding-bottom: 50px;
	}

	.features h1
	{
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 10px;
	}

	.features h1:after
	{
		width: 76.5%;
		margin: 23px auto 0;
	}

	.features .box
	{
		padding-top: 32px;
	}

	.features h2
	{
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 1px;
		margin: 0 0 9px;
	}

	.features .img-area
	{
		margin: 0 0 22px;
	}

	.features .textbox
	{
		padding: 0 10px 19px;
	}

	.features .btn
	{
		width: 187px;
	}

	.carousel-inner .item
	{
		min-height: 468px;
	}

	.carousel-inner img
	{
		min-height: 468px;
	}

	.carousel-indicators
	{
		display: none;
	}

	.carousel-control
	{
		margin: 14px 0 0;
	}

	.carousel-control.left,
	 .carousel-control.right
	{
		background: url(images/arrows-768.png) no-repeat;
		width: 40px;
		height: 40px;
		left: 20px;
	}

	.carousel-control.left:hover
	{
		background-position: 100% 100%;
	}

	.carousel-control.right
	{
		background-position: 100% 0;
		left: auto;
		right: 20px;
	}

	.carousel-control.right:hover
	{
		background-position: 0 100%;
	}

	.carousel .carousel-caption
	{
		top: 30px;
		font-size: 14px;
		line-height: 1.714;
		left: 70px;
		right: 70px;
	}

	.carousel .caption-holder
	{
		max-width: 530px;
	}

	.carousel .carousel-caption h1
	{
		font-size: 30px;
		line-height: 36px;
		margin: 0 0 16px;
	}

	.carousel .carousel-caption .header
	{
		padding: 0 0 32px;
	}

	.carousel .carousel-caption .header:after
	{
		margin-top: 16px;
	}

	.carousel .carousel-caption p
	{
		margin: 0 0 31px;
	}

	.carousel .carousel-caption .btn-primary
	{
		margin: 0 0 20px;
	}

	.news
	{
		padding: 42px 0 35px;
		background: url(images/bg-news768.png) no-repeat 100% 100% #f2f5f8;
	}

	.news h3
	{
		letter-spacing: 4px;
		margin: 0 0 24px;
	}

	.news .holder
	{
		padding: 0 7px 0 28px;
	}

	.news .post .header
	{
		padding: 0 0 11px;
	}

	.news .post .date
	{
		margin: 0 0 9px;
	}

	.news .post h3
	{
		font-size: 24px;
	}

	.news .post p
	{
		margin: 0 0 31px;
	}

	.social-area
	{
		padding: 39px 0 22px;
		font-size: 16px;
		line-height: 24px;
	}

	.social-area > .container
	{
		padding: 0 10px;
		width: 768px;
	}

	.social-area .title
	{
		margin: 0 0 9px;
	}

	.social-area .tweets li p
	{
		margin: 0 0 46px;
	}

	.social-area .tweets .btn-area
	{
		padding: 0 5px 0 0;
		text-align: center;
	}

	.social-area .social-networks
	{
		right: 40px;
		bottom: 17px;
	}

	#main .social-holder.add
	{
		padding: 0;
	}

	#main .social-holder.add .holder
	{
		padding: 21px 100px;
		margin: 0 -100px;
		background: #da4936;
		overflow: hidden;
	}

	#footer,
	 .home #footer
	{
		padding: 46px 0 34px;
	}

	#footer .logo,
	 .home #footer .logo
	{
		width: 178px;
		height: 31px;
		background-position: 0 -41px;
	}

	#footer h4
	{
		font-size: 16px;
		margin: 0 0 8px;
	}

	#footer address
	{
		line-height: 24px;
	}

	.fnav ul li
	{
		padding: 0 0 7px;
	}

	#footer .address h4
	{
		margin: 0 0 3px;
	}

	#footer .info
	{
		padding-top: 23px;
	}

	.post-section .post
	{
		margin: 0;
	}

	.post-section.add .post
	{
		padding-top: 12px;
	}

	.post-section.add .post .meta .img-area
	{
		float: right;
		margin: 0 0 0 23px;
	}

	.post-section.add .title
	{
		font-size: 16px;
		line-height: 24px;
		margin: 0;
		letter-spacing: 1px;
	}

	.post-section.add .header
	{
		overflow: hidden;
		padding: 0 325px 0 0;
		min-height: 101px;
	}

	.post-section.add .post .meta
	{
		position: absolute;
		right: 39px;
		top: 7px;
		width: 350px;
		text-align: right;
		height: 68px;
		overflow: hidden;
	}

	.post-section.add .post .info .date
	{
		float: none;
		display: block;
		margin: 0 -2px 0 0;
	}

	.post-section.add .post .tags
	{
		display: none;
	}

	.post-section.add .post h1
	{
		font-size: 28px;
		line-height: 40px;
		margin: 0 110px 25px 49px;
		letter-spacing: normal;
		max-height: 102px;
	}

	.post-section .post h3
	{
		font-size: 21px;
		line-height: 26px;
		margin: 0 0 15px;
	}

	.post-section .holder
	{
		padding: 20px 0 0;
	}

	.post-section.add
	{
		height: 279px;
		border-bottom: 1px solid #000;
	}

	.post-section.add .img-holder
	{
		height: 279px;
	}

	.post-section.add .holder
	{
		max-height: 279px;
		margin: -279px 0 0;
	}

	#content
	{
		padding-top: 8px;
		word-spacing: 1px;
	}

	#content .textbox p
	{
		margin: 0 0 24px;
	}

	#content p
	{
		margin: 0 0 24px;
	}

	#content .article
	{
		font-size: 16px;
		line-height: 24px;
		padding: 0 108px 24px 82px;
	}

	#content .article .textbox
	{
		word-spacing: 0;
	}

	#content .article .textbox:after
	{
		max-width: 558px;
		padding: 6px 0 0;
	}

	#content .article .center-block
	{
		margin-top: 46px;
		margin-bottom: 49px;
	}

	#main .social-holder
	{
		text-align: center;
	}

	#main .social-holder .title
	{
		display: inline-block;
		vertical-align: middle;
		min-width: 205px;
		float: none;
		margin: 0 10px 0 0;
	}

	.social-networks-list
	{
		display: inline-block;
		vertical-align: middle;
	}

	#twocolumns
	{
		padding-bottom: 36px;
	}

	#sidebar .sidebar-holder
	{
		padding: 0 82px;
		overflow: hidden;
	}

	#sidebar .archive
	{
		padding: 27px 0 39px;
	}

	#sidebar .archive h2
	{
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		margin: 0 14px 0 0;
	}

	#sidebar .archive .nav-pills
	{
		display: inline-block;
		vertical-align: middle;
		width: 214px;
	}

	#sidebar .post-list ul li:first-child
	{
		padding: 0 0 16px;
	}

	#sidebar .post-list ul li
	{
		padding: 0 0 15px;
	}

	.post-section
	{
		padding: 28px 0 56px;
	}

	.post-section .post-holder
	{
		overflow: hidden;
		padding: 0 28px;
		max-height: inherit;
	}

	.post-section .post h3
	{
		font-size: 24px;
		line-height: 32px;
	}

	.post-section .header
	{
		padding: 0 146px 4px 0;
	}

	.post-section .more
	{
		right: 105px;
	}

	.post-section .post .meta
	{
		margin: 0 0 0 -4px;
	}

	.newsletter
	{
		padding: 24px 0 22px;
		border-bottom: 1px solid #294c59;
	}

	.newsletter .title
	{
		width: 259px;
		font-size: 16px;
		line-height: 20px;
		margin: 0 10px 4px;
	}

	.newsletter .form-area
	{
		width: 460px;
	}

	#footer,
	 #footer .info p a
	{
		color: #849fae;
	}

	#footer a,
	 #footer .info .link
	{
		color: #4d96c4;
	}

	#footer address
	{
		color: #849fae;
	}

	#footer address .phone
	{
		color: #4d96c4;
	}

	#footer h4
	{
		color: #e7ebec;
	}
}

@media (max-width: 767px)
{
	.home .logo,
	 .logo
	{
		margin: 0 0 0 11px;
	}

	.home #header > .holder
	{
		padding: 23px 0 0;
	}

	#header > .holder
	{
		padding: 16px 0 0;
	}

	#header .navbar-default .navbar-toggle
	{
		margin: -29px 13px 31px;
	}

	.intro .col:first-child .textbox
	{
		line-height: 20px;
	}

	.intro .col
	{
		float: none;
		width: 100%;
	}

	.intro .img-area .img-responsive
	{
		height: auto;
	}

	.intro h1
	{
		font-size: 22px;
		line-height: 28px;
		margin: 0 0 26px;
	}

	.intro .col:first-child h1
	{
		margin: 0 0 17px;
	}

	.intro .textbox
	{
		padding: 25px 20px 83px;
	}

	.intro .col:first-child .btn
	{
		bottom: 29px;
	}

	.intro .btn-holder
	{
		bottom: 31px;
	}

	.intro .col:first-child .textbox
	{
		padding: 23px 25px 83px;
	}

	.features
	{
		padding-top: 28px;
		padding-bottom: 49px;
	}

	.features h1
	{
		font-size: 22px;
		line-height: 28px;
	}

	.features h1:after
	{
		margin: 25px auto 0;
		width: 90%;
	}

	.features .box
	{
		padding-top: 16px;
		padding-bottom: 43px;
		margin: 63px 0 0;
	}

	.features .box:first-child
	{
		margin: 0;
	}

	.features h2
	{
		margin: 0 0 15px;
	}

	.features .textbox
	{
		padding: 0 10px 15px;
	}

	.features .box .img-area
	{
		margin: 0 0 10px;
	}

	.features .box:first-child .img-area
	{
		margin: 0 0 22px;
	}

	.carousel .carousel-caption
	{
		left: 10px;
		right: 10px;
		top: 16px;
		line-height: 20px;
	}

	.carousel .carousel-caption h1
	{
		font-size: 26px;
		line-height: 32px;
	}

	.carousel .carousel-caption .subhead
	{
		margin: 0 0 30px;
	}

	.carousel .carousel-caption .date
	{
		margin: 0 0 10px;
	}

	.carousel .carousel-caption h1
	{
		margin: 0 0 18px;
	}

	.carousel .carousel-caption .header
	{
		padding: 0 0 25px;
	}

	.carousel .carousel-caption p
	{
		margin: 0 0 28px;
	}

	.carousel .carousel-caption .note
	{
		font-size: 12px;
	}

	.carousel .carousel-caption .btn-primary
	{
		margin: 0 0 23px;
	}

	.carousel-inner img
	{
		min-height: 467px;
	}

	.news
	{
		padding: 40px 12px 10px;
		background: #f2f5f8;
	}

	.news .holder
	{
		padding: 0;
	}

	.news h3
	{
		text-align: left;
		margin: 0 5px 24px;
	}

	.news .post
	{
		padding-top: 0;
	}

	.news .post h3
	{
		font-size: 20px;
		line-height: 30px;
		margin: 0 0 6px;
	}

	.news .post .date
	{
		margin: 0 3px 14px;
	}

	.news .post .header
	{
		padding: 0;
	}

	.news .post p
	{
		margin: 0 0 20px;
	}

	.social-area > .container
	{
		width: 100%;
	}

	.social-area .tweets
	{
		padding: 2px 20px 21px;
	}

	.social-area .tweets li p
	{
		margin: 0 0 41px;
	}

	.social-area .social-networks
	{
		position: static;
		max-width: inherit;
		padding: 0 15px;
		overflow: hidden;
		text-align: center;
	}

	.social-area .social-networks li
	{
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 7px;
	}

	#footer,
	 .home #footer
	{
		padding: 0;
		font-size: 11px;
	}

	#footer .logo,
	 .home #footer .logo
	{
		float: none;
		display: block;
		margin: 0 auto 12px;
	}

	#footer .info
	{
		text-align: center;
		display: table;
		padding-top: 25px;
		line-height: 16px;
		padding-bottom: 20px;
		margin: 0;
		width: 100%;
	}

	#footer .info-area
	{
		display: table-footer-group;
		float: none;
		padding: 0;
		width: auto;
	}

	#footer .info p
	{
		margin: 0 10px;
	}

	.post-section .holder
	{
		padding: 10px 0 0;
	}

	.post-section .post h1
	{
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 15px;
	}

	#sidebar
	{
		position: relative;
		padding-top: 15px;
		margin: 10px 0 0;
	}

	#sidebar:before
	{
		background: #eee;
		height: 2px;
		position: absolute;
		left: 10px;
		right: 10px;
		overflow: hidden;
		text-indent: -9999px;
		content: "";
		top: 0;
	}

	#sidebar .post-list ul li:first-child,
	 #sidebar .post-list ul li
	{
		padding: 0 0 15px;
	}

	#main .social-holder
	{
		text-align: center;
		padding: 15px 0 10px;
	}

	#main .social-holder .title
	{
		float: none;
		display: block;
		min-width: inherit;
		margin: 0 0 5px;
	}

	#main .social-holder .social-networks a:first-child
	{
		margin: 0 8px;
	}

	#main .social-holder .social-networks a
	{
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 8px;
	}

	.social-networks-list
	{
		text-align: center;
	}

	.post-section.add
	{
		height: auto;
		border: none;
	}

	.post-section.add .img-holder
	{
		height: 229px;
	}

	.post-section.add .holder
	{
		margin: 0;
		padding: 0 22px;
		max-height: inherit;
	}

	.post-section.add .header
	{
		padding: 0;
		height: 92px;
		min-height: inherit;
	}

	.post-section.add .title
	{
		margin: 0;
	}

	.post-section.add .post
	{
		padding: 0;
		margin: 0;
		position: static;
	}

	.post-section.add .post h1
	{
		font-size: 20px;
		margin: 0;
		line-height: 24px;
	}

	.post-section.add .post .meta
	{
		position: static;
		text-align: left;
		width: auto;
		height: auto;
		overflow: hidden;
		padding: 23px 0 21px;
		border-bottom: 1px solid #e8e8e8;
	}

	.post-section.add .post .meta .img-area
	{
		float: left;
		margin: 2px 16px 0 0;
	}

	.post-section.add .post .author a
	{
		color: #3f3f3f;
	}

	.post-section.add .post .tags
	{
		display: block;
		color: #509ecc;
		padding: 0 0 0 2px;
	}

	.post-section.add .post .tags a
	{
		color: #509ecc;
	}

	.post-section.add .post-holder
	{
		position: absolute;
		left: 21px;
		right: 20px;
		top: 20px;
		max-height: 191px;
		padding: 0;
	}

	.post-section.add .post .author
	{
		margin: 0 0 5px;
	}

	.post-section.add .post .textbox
	{
		padding: 0;
	}

	.post-section.add .post .info
	{
		line-height: 14px;
	}

	.post-section.add .post .info .date
	{
		margin: 0 0 3px 2px;
	}

	#twocolumns
	{
		padding-top: 28px;
		padding-bottom: 15px;
	}

	#content
	{
		padding-top: 0;
		padding-bottom: 21px;
	}

	#content .article
	{
		font-size: 14px;
	}

	#content .article .textbox
	{
		font-size: 16px;
	}

	#content .article
	{
		padding: 0 13px;
	}

	#content p,
	#content .textbox p
	{
		margin: 0 0 24px;
	}

	#content .article .textbox:after
	{
		display: none;
	}

	#content .article .center-block
	{
		margin-top: 20px;
		margin-bottom: 37px;
	}

	#main .social-holder.add .holder
	{
		padding: 17px 100px 13px;
	}

	#sidebar:before
	{
		display: none;
	}

	#sidebar
	{
		background: #f2f5f8;
		margin: 1px 0 0;
	}

	#sidebar .sidebar-holder
	{
		padding: 0 14px;
	}

	#sidebar .archive
	{
		padding: 3px 0 25px;
	}

	#sidebar .archive h2
	{
		display: block;
		width: auto;
		margin: 0 15px 11px;
	}

	#sidebar .archive .nav-pills
	{
		display: block;
		width: auto;
	}

	#sidebar .post-list
	{
		padding: 0 14px 10px;
	}

	#sidebar .post-list ul li:first-child,
	#sidebar .post-list ul li
	{
		padding: 0 0 21px;
	}

	.post-section
	{
		background: none;
		padding: 9px 0 43px;
	}

	.post-section .title
	{
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 5px;
	}

	.post-section .post h3
	{
		font-size: 20px;
		line-height: 28px;
		margin: 0 0 10px;
	}

	.post-section .post .more
	{
		display: none;
	}

	.post-section .header
	{
		padding: 0;
	}

	.post-section .post-holder
	{
		padding: 0 12px;
	}

	.post-section .post .meta
	{
		margin: 0;
		padding: 7px 0 0;
	}

	.post-section .post .meta .img-area
	{
		margin: 12px 11px 0 0;
	}

	.post-section .post .author
	{
		margin: 0 0 14px;
	}

	.post-section .post .info
	{
		line-height: 16px;
		padding: 0 2px;
	}

	.post-section .post .info .date
	{
		float: none;
		display: block;
	}

	.post-section .post .tags
	{
		line-height: 16px;
	}

	.newsletter
	{
		padding: 23px 15px 13px 13px;
	}

	.newsletter .title
	{
		display: block;
		width: auto;
		margin: 0 0 26px;
		font-size: 16px;
		line-height: 20px;
	}

	.newsletter .form-area
	{
		display: block;
		width: auto;
	}

	.newsletter .form-area .form-control,
	 .newsletter .form-area .btn-default
	{
		width: 100%;
		margin: 0 0 16px;
	}
}